DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=selva_seguranca
DB_USERNAME=postgres
DB_PASSWORD=postgres
APP_URL=http://localhost:8000
APP_ENV=development
SUPABASE_TOKEN=sbp_a30011c2aaf163e13f3c3541a0f7e603be22fc7d
JWT_SECRET=super_secret_jwt_key_for_selva_seguranca
